<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "HTTP://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
	<settings>
		<setting name="cacheEnabled" value="false" />
		<setting name="useGeneratedKeys" value="true" />
		<setting name="defaultExecutorType" value="REUSE" />
	</settings>
	<!-- 패키지를 가지고있는 특정 클래스의 별칭 -->
	<!-- type에 적힌 특정 클래스를 작성할때 alias에 적힌 명칭으로 바꿔서 작성하면 된다. -->
	<typeAliases>
		<typeAlias type="vo.SignUpVO" alias="signup"/>
		<typeAlias type="vo.MainVO" alias="main"/>
		<typeAlias type="vo.IlchonVO" alias="ilchon"/>
		<typeAlias type="vo.GalleryVO" alias="gallery"/>
		<typeAlias type="vo.GalleryLikeVO" alias="glike"/>
		<typeAlias type="vo.GalleryCommentVO" alias="gcomment"/>
		<typeAlias type="vo.GuestBookVO" alias="guestbook"/>
		<typeAlias type="vo.GuestBookLikeVO" alias="gblike"/>
		<typeAlias type="vo.DiaryVO" alias="diary"/>
		<typeAlias type="vo.ViewsVO" alias="views"/>
		<typeAlias type="vo.BuyMinimiVO" alias="buy"/>
	</typeAliases>
	
	<mappers>
		<mapper resource="config/mybatis/mapper/signup.xml" />
		<mapper resource="config/mybatis/mapper/main.xml" />
		<mapper resource="config/mybatis/mapper/gallery.xml" />
		<mapper resource="config/mybatis/mapper/gallerylike.xml" />
		<mapper resource="config/mybatis/mapper/gallerycomment.xml" />
		<mapper resource="config/mybatis/mapper/guestbook.xml" />
		<mapper resource="config/mybatis/mapper/guestbooklike.xml" />
		<mapper resource="config/mybatis/mapper/diary.xml" />
	</mappers>
</configuration>